<% form_method = @patient.persisted? ? "PATCH" : "POST" %>
<% form_action = @patient.persisted? ? patient_url(@patient) : patients_url %>

<form action="<%= form_action %>" method="POST">
  <input type="hidden" name="_method" value="<%= form_method %>">
  <input type="hidden" name="clinic_id" value="<%= @clinic.id %>">
  
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label>Patient name:
    <input type="text" name="patient[name]" value="<%= @patient.name %>">
  </label><br>

  <label>Summary:
    <textarea name="patient[summary]"><%= @patient.summary %></textarea>
  </label><br>

  <label>Select a day when students can view patient data:
    <input type="date" name="patient[viewable_time]">
  </label><br>

  <% if @patient.persisted? %>
    <%= render "patient_data" %>
  <% end %>

  <input type="submit">

</form>

