<% if !@patient.patient_datas.empty? %>
  <p><strong>Patient Data:</strong></p>
  <table>
    <tr>
      <th>Data Type</th>
      <th>Value</th>
      <th>Comment</th>
    </tr>
    <% @patient.patient_datas.each do |data_item| %>
      <tr>
        <td><%= data_item.name %></td>
        <td><%= data_item.value %></td>
        <td><%= data_item.comment %></td>
        <td><%= button_to "Edit", 
                edit_patient_patient_datum_url(@patient, data_item),
                method: :get %></td>
        <td><%= button_to "Delete", 
                patient_datum_url, method: :delete %></td>
      </tr>  
    <% end %>
    <tr>
      <td><%= button_to "Add Data", 
              new_patient_patient_datum_url(@patient),
              method: :get %></td>
    </tr>
  </table>
<% end %>