<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @patient.summary %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @patient.temperature %>
</p>

<p>
  <strong>Heart rate:</strong>
  <%= @patient.heart_rate %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
