<p id="notice"><%= notice %></p>

<table class="table">
<tr>
  <th>Name</th>
  <th>Summary</th>
  <th>Patient data viewable on</th>
</tr>
<tr>
  <td><%= @patient.name %></td>
  <% if @patient.viewable? %>
    <td><%= @patient.summary  %></td>
  <% else %>
    <td>Patient data not yet viewable</td>
  <% end %>

  <td><%= @patient.viewable_time %></td>
</tr>
</table>

<% if @patient.viewable? %>
  <%= render "patient_data" %>
<% end %>

<p>
<% if can? :update, @patient %>
  <%= link_to 'Edit', edit_clinic_patient_url(@patient.clinic, @patient) %> |
<% end %>
<%= link_to 'Back', clinic_url(@patient.clinic) %>
</p>
