<p id="notice"><%= notice %></p>

<table class="table">
<tr>
  <th>Name</th>
  <th>Summary</th>
  <th>Patient data viewable on</th>
</tr>
<tr>
  <td><%= @patient.name %></td>
  <td><%= @patient.summary %></td>
  <td><%= @patient.viewable_time %></td>
</tr>
</table>

<%= render "patient_data" %>

<p>
<%= link_to 'Edit', edit_clinic_patient_url(@patient.clinic, @patient) %> |
<%= link_to 'Back', clinic_url(@patient.clinic) %>
</p>
