<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @patient.summary %>
</p>

<p>
  <strong>Patient data viewable after:</strong>
  <%= @patient.viewable_time %>
</p>

<%= render "patient_data" %>

<p>
<%= link_to 'Edit', edit_clinic_patient_url(@patient.clinic, @patient) %> |
<%= link_to 'Back', clinic_url(@patient.clinic) %>
</p>
